run_name: ahen_test_fp16
model_name: HuggingFaceTB/SmolVLM2-500M-Instruct
predict_per_item: 16
num_classes: 3
data:
  prefix: /home/petr001/ant_data/ants_stuff/raw_videos
  label_json: /home/petr001/ant_data/ants_stuff/ant_all_labels.json
  cache_dir: /home/petr001/ant_data/ants_stuff/cache_256
  chunk_length: 16
  chunk_shift: 8
  resize_to: 256
  do_aa: true
  preproc_processes: 10
training:
  epochs: 10
  train_bs: 16
  val_bs: 64
  num_workers: 4
  warmup_epochs: 2
  lr: 4.0e-5
  weight_decay: 0.1
class_names: "{0: 'other', 1: 'self', 2: 'larvae'}"
mixup_alpha: 0.8
ema_decay: 0.999
seed: 0